.dice-roller-container {
    display: flex;
    flex-direction: column;
}

.dice-roller__dice-row {
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.selected {
    border: 1px solid white;
}