.dice-roller-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.dice-roller__dice-row {
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.selected {
    border: 1px solid white;
}

.dice-roller__roll-button {
    width: 50%;
    height: 30px;
    align-self: center;
}
